  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand block-header-2--logo">
      <a class="navbar-item" href="{{ "/" | relative_url }}">
        <img src="{{ section.logo | relative_url }}" alt="{{ site.title }}">
      </a>
  
      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
      </div>
  
      <div class="navbar-end">
        {% for nav_item in section.navigation %}
        <a class="navbar-item nav-item" href="{{ nav_item.link | relative_url }}">
          {{ nav_item.link_text }}
        </a>
        {% endfor %}
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-link block-header-2--cta" href="{{ section.cta.url }}">
              <strong>{{ section.cta.button_text }}</strong>
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>